<tr>
  <td><b>User Name</b>&nbsp;<%= f.text_field :name %></td>
  <td><b>First Name</b>&nbsp;<%= f.text_field :first_name %></td>
  <td><b>Last Name</b>&nbsp;<%= f.text_field :last_name %></td>
  <td><b>Email</b>&nbsp;<%= f.text_field :email %></td>
  <td><b>Password</b>&nbsp;<%= f.text_field :encrypted_password %></td>
</tr>